# Virtual Environment
venv/
env/
.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Operating System & IDE Artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/

# Application Logs
*.log
